.pa{
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: crimson;
    justify-content: center;
    padding: 15px;
    margin-bottom: 70px;
}
a{
    text-decoration: none;
    color: aliceblue;
    &:hover{
        text-decoration: underline;
        }
}
